@model IEnumerable <ENwithMVC.Models.student>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table border="1">
            <tr>
                <td>id</td>
                <td>name</td>
                <td>address</td>
                <td>gender</td>
                <td>faculty</td>
                <td>grade</td>
            </tr>
            @{
                foreach(var item in Model)
            {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Address</td>
                            <td>@item.gender</td>
                            <td>@item.faculty</td>
                            <td>@item.Grade</td>
                            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                        </tr>
            }
            }
        </table>

    </div>
</body>
</html>
